<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ get_url(path="/favicon-96x96.png") }}">
{% if config.generate_feeds %}<link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ get_url(path="/atom.xml") }}">{% endif %}
{% include "partials/head/css.html" -%}
{% include "partials/head/theme-colors.html" -%}
{% include "partials/head/js.html" -%}
{% include "partials/head/google-analytics.html" -%}
